* {
  box-sizing: border-box;
}

.flex-container {
  width: 600px;
  height: 50vh;
  background-color: rgb(253, 253, 203);
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.item {
  width: 100px;
  height: 100px;
}
.item p {
  margin: 0px;
  padding-top: 5px;
  padding-left: 5px;
}
#item-1 {
  background: green;
}

#item-2 {
  background: blue;
}

#item-3 {
  background: red;
}
